################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
.vs/
/.vs/
*bin/
*obj/
*.pdb
*.dll
*.zip

*Debug/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.suo
*.vsidx
desktop.ini
/desktop.ini

bundleconfig.json
ReadmeInternal.md
