################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/
*bin/
*obj/
*.pdb
*.dll
*.zip

*Debug/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

/Development/Design/Desing Template/waterboat
/Jobs/App_Data/CertificatesGenerated/
/PiNetwork.Blazor.Sdk/.vs/PiNetwork.Blazor.Sdk/v17/.suo
/PiNetwork.Blazor.Sdk/.vs/PiNetwork.Blazor.Sdk/FileContentIndex/81f86c88-9673-4720-8953-89d6ea53435c.vsidx
/PiNetwork.Blazor.Sdk/.vs/PiNetwork.Blazor.Sdk/FileContentIndex/7aea387e-e587-4ee9-a36e-384cd6c4bc86.vsidx
